/.settings
/.project
/.idea
/.buildpath
/vendor
/include
phpunit.xml
composer.phar
composer.lock
satis.phar
/build/
/.php_cs.cache
/composer.phar
/phpunit.xml
/satis.phar
/cache/
/node_modules/
/tools/*/vendor/
/vendor/
/.php-cs-fixer.cache
/.phpunit.result.cache
/resultCache.php
/p2
packages.json
